@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: dimgray;
}

a {
    text-decoration: none;
}

section {
    height: 500px;
    margin-bottom: 150px;
}



h1 {
    font-size: 40px;
}

.h1_orange {
    color: orange;
}

.half-width {
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    float: left;
}

.half-width img {
    width: 100%;
}

.hireme {
    background: linear-gradient(45deg, lightsalmon, tomato);
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-repeat: no-repeat;
    background-image: url(images/dream-bg.png);
    background-position: right;
}